---
const pageTitle = "About";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 1;
const skillColor = "navy";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1 id="about">{pageTitle}</h1>
    <p id="info">Hii, I'm a web developer. Trying to learn Astro. This is my first Astro web App.</p>
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}

{goal === 1 ? <p>My goal is to finish in 1 days.</p> : <p>My goal is not 3 days.</p>}

<p>My skills are:</p>
<ul>
    {skills.map((skill)=> <li class="skill">{skill}</li>)}
</ul>
</body>
</html>


<style define:vars={{skillColor}}>

    #about{
        flex: auto;
        color: blue;
        margin: 0%;
    }

    #info{
        margin-left: 20px;
        margin-top: 0%;
    }
    
    .skill {
        color: var(--skillColor);
        font-weight: bold;
  }
</style>