<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <a href="/">Home</a>
    <h1 id="about">About</h1>
    <p id="info">Hii, I'm a web developer. Trying to learn Astro. This is my first Astro web App.</p>

</body>
</html>


<style>

    #about{
        flex: auto;
        color: blue;
        margin: 0%;
    }

    #info{
        margin-left: 20px;
        margin-top: 0%;
    }
</style>